
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;  border: none;
    text-decoration: none;
    text-transform: capitalize;    
    transition: .2s linear;
}

body
{       
    background-color: #010103;    
}

html
{
    font-size: 10px;   
}

html::-webkit-scrollbar
{
    width: 10px;
}

html::-webkit-scrollbar-track
{
    background: transparent;
}

html::-webkit-scrollbar-thumb
{
    background: #fff;
    border-radius: 16px;
}


/* =======================================  start style header ==================================== */

.header
{
    background: #010103;
    padding: 5px 100px;             /* the padding will be like this : every tow dirctions will take one value ,,, top and bottom take the value 5px  and right bottom take 100px ; */
    border-bottom: 1px solid rgba(255 , 255 , 255 , 0.3);       /* the last value to color opacity  */ 
    position: fixed;
    z-index: 1;       
}

.nav-bar
{
    width: 1200px;
    height: 75px;        
}

.icon
{
    width: 200px;
    float: left;
    height: 70px;
}

.headding
{
    color: #d3ad7f;
    font-size: 35px;
    float: left;
    padding-left: 20px;
    padding-top: 15px;
}

.menue-ul-header
{
    width: 400px;
    float: left;
    height: 70px;
}

ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;      
}

ul li 
{
    list-style: none;
    margin-left: 62px;
    margin-top: 25px;
    font-size: 14px;
}

nav ul li  a
{
    text-decoration: none;
    color: white; 
    font-family: Arial;   
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

nav ul li  a:hover
{
    color: #d3ad7f;  
    border-bottom: 1px solid #d3ad7f; 
    padding-bottom: 5px; 
}

.sub-menu-1
{
    display: none;    
}

nav ul li:hover .sub-menu-1
{
    display: block;                 
    position: absolute;             
    background: #010103;
    margin-top: 5px;
    margin-left: -50px;
}

nav ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}

nav ul li:hover .sub-menu-1 ul li 
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

nav ul li:hover .sub-menu-1 ul li:last-child     /* this style erase the under line when hover on the last element in dropdown */
{
    border-bottom: none;
}

.search
{
    width: 330px;
    float: left;
    margin-left: 270px;
    margin-top: 2px;
}

.srch
{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #d3ad7f;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    text-transform: none;
}

.btn
{
    width: 100px;
    height: 40px;
    background: #d3ad7f;
    border: 2px solid #d3ad7f;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.btn:focus
{
    outline: none;
}
.srch:focus
{
    border: 2px solid #d3ad7f;
}

/* =======================================  end style header ==================================== */

/* =======================================  start style home ==================================== */

section
{
    /* padding-top: 58px;  */
    padding: 30px 90px;             
}

.home
{
    min-height: 100vh;
    background: url("../images/imag.png");    
    background-repeat: no-repeat;   
    background-size: contain;
    background-position: center;   
    background-attachment: fixed; 
    /* z-index: 1000;            */
}

.content h2
{   
    font-family: 'Times New Roman';
    font-size: 30px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    text-transform: uppercase;    
}

.content
{
    width: 1200px;  
    color: #fff;
    position: relative;             
}

.content h2
{   
    font-family: 'Times New Roman';
    font-size: 30px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    text-transform: uppercase;       
}

.content span
{
    color: #d3ad7f;
    font-size: 65px;     
}

.content .par
{
    padding-left: 20px;
    padding-bottom: 25px;    
    letter-spacing: 1.2px;    /* set space between the letters */ 
    line-height: 30px;        /* set space between the lines */ 
    color: #eee;
    font-family: Arial;
    font-size: 19px;
    font-weight: lighter;     
}


/* =======================================  start style asid bar ==================================== */
.form
{
    width: 300px;
    height: 415px;
    background: linear-gradient( to top , rgba(0, 0, 0, 0.8)50% , rgba(0, 0, 0,  0.8)50% );
    position: absolute;
    top: -30px;  /*-20*/
    left: 930px; /*870*/
    border-radius: 10px;
    padding: 25px;
    background-color: #fff; 
   }

.form h3
{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #d3ad7f;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;

}

.form input
{
    width: 240px;
    height: 35px;
    background: transparent;
    border-top: none;
    border-bottom: 1px solid #d3ad7f;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
    text-transform: none;
}

.form input:focus
{
    border: 2px solid #d3ad7f;
}

::placeholder
{
    color: #fff;
    font-family: Arial;
}

.btnn
{
    width: 240px;
    height: 40px;
    background: #d3ad7f;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;    
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.btnn:hover
{
    background: #fff;
    color: #d3ad7f;
}


.form .link
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;    
}

.form .link a
{
    text-decoration: none;
    color: #d3ad7f ;
}
.liw
{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}


.form
{
    text-align: center;  
    justify-content: space-between; 
}
.form .icon 
{
    padding: 1rem 0;   
    text-align: center;       
 }

 .form .icon a 
 {
    line-height: 5px;    
    border: 1px solid rgba(255 , 255 , 255 , .3);
    margin: 8px;
    border-radius: 50%;      
 }

 .form .icon a img 
 {
    border-radius: 50%;
    width: 15%;
 }

 .form .icon a:hover
 {
     background: #d3ad7f;
 }


/* =======================================  end style asid bar ==================================== */

footer 
{
    background: #13131a;
    text-align: center;
}

footer .programmer
{
    font-size: 20px;
    font-weight: lighter;
    color: #fff;
    padding: 17px;
}

footer .programmer span
{
    color: #d3ad7f;
}